# Bijux shared
.DS_Store
.idea/
.vscode/
.tox/
.tox
.venv/
.venv
.venv-esm/
.coverage
.coverage.*
**/.coverage
**/.coverage.*
.python-version
.mypy_cache/
.pytest_cache/
.ruff_cache/
.hypothesis/
.hypothesis
.benchmarks
.nox/
.cache/
.tmp/
.github/tmp/
site/
build/
dist/
htmlcov/
**/coverage.xml
node_modules/
*.egg-info/
pip-wheel-metadata/

artifacts/
artifacts
packages/*/artifacts/
packages/*/artifacts

**/__pycache__/
**/.pytest_cache/
**/.ruff_cache/
**/.mypy_cache/
**/.pytype/
**/.hypothesis/
**/.hypothesis
**/.benchmarks/
**/.benchmarks
**/.tox/
**/.tox
**/.venv/
**/.venv
**/.nox/
**/.cache/
**/site/
**/build/
**/dist/
**/htmlcov/
**/*.egg-info/
**/*.pyc
**/*.pyo
*.swp
*.swo
